In [187]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori

In [200]:
method_name = "rf"

df = pd.read_csv("version-2/results/{method}/datos-preproc/{method}.csv".format(method = method_name))

df.head()

   ID  NumberAtts         Atts  ROC  Sens  Spec
0   1           1        MAGOH  1.0  1.00   1.0
1   2           2   MAGOH RBM3  1.0  1.00   1.0
2   3           2  MAGOH PTBP1  1.0  0.75   1.0
3   4           2  MAGOH RBM22  1.0  1.00   1.0
4   5           2     MAGOH U5  1.0  1.00   1.0

In [202]:
dfT = df.loc[(df["ROC"]==1) & (df["Sens"] ==1) & (df["Spec"]==1),:]

dfT.shape

(217, 6)

   ID  NumberAtts         Atts  ROC  Sens  Spec
0   1           1        MAGOH  1.0   1.0   1.0
1   2           2   MAGOH RBM3  1.0   1.0   1.0
3   4           2  MAGOH RBM22  1.0   1.0   1.0
4   5           2     MAGOH U5  1.0   1.0   1.0
5   6           2   MAGOH SC35  1.0   1.0   1.0

In [191]:
all_patterns = set()

In [192]:
dfT.apply(lambda row: all_patterns.update(row["Atts"].split(" ")), axis=1)

0      None
1      None
3      None
4      None
5      None
6      None
8      None
9      None
10     None
12     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
30     None
31     None
32     None
33     None
       ...
236    None
237    None
238    None
239    None
240    None
241    None
242    None
243    None
244    None
245    None
246    None
247    None
248    None
286    None
293    None
294    None
295    None
298    None
301    None
303    None
305    None
306    None
309    None
315    None
316    None
318    None
320    None
325    None
327    None
329    None
Length: 217, dtype: object

In [193]:
all_patterns = np.array(list(all_patterns))

all_patterns

array(['RBM3', 'FBP11', 'TIA1', 'U11', 'U6ATAC', 'U2AF1', 'U6', 'PTBP1',
       'ESRP2', 'SRSF5', 'CUGBP', 'CA150', 'SRM160', 'CELF4', 'RBM22',
       'SC35', 'MAGOH', 'U5', 'U2', 'SAM68TV1', 'ESRP1', 'RBM45', 'SRSF3',
       'SRSF10', 'SRSF1', 'SF3BTV1', 'PRP8', 'U1', 'SKIP', 'U2AF2', 'PSF',
       'SND1', 'U12', 'NOVA1', 'SF3BTV2', 'U4ATAC', 'SRSF4', 'RBM17',
       'U4', 'nSR100', 'SRSF9', 'TRA2A', 'SRSF6'], dtype='<U8')

In [194]:
a= dfT.apply(lambda row: np.isin(all_patterns, row["Atts"].split(" ")).tolist(), axis=1)

In [195]:
newdf = pd.DataFrame(a.values.tolist(), columns=all_patterns)

In [196]:
newdf.to_csv("version-2/results/{method}/datos-preproc/{method}2.csv".format(method = method_name), index=False)

In [197]:
frequent_itemsets = apriori(
    newdf, min_support= 0.01, use_colnames=True)

In [198]:
frequent_itemsets.sort_values(
    "support",
    ascending= False,
    inplace=True)

In [199]:
frequent_itemsets.to_csv("version-2/results/{method}/datos-preproc/frequent_itemsets.csv".format(method = method_name), index= False)